<main class="w-52">
    <div class="w-full rounded-full bg-stone-900">
        <div class="h-2 rounded-full bg-stone-300" style="width:{{ tab.0 * 100 / tab.1 }}%"></div>
    </div>
    <div class="text-center text-xl mt-4">{{ category }}</div>
    <form id="sort" hx-patch="/vote" hx-trigger="end">
        {% include "sortable.html" %}
    </form>

    <div class="flex gap-2 my-6">
        {% if tab.0 > 0 -%}
        <button class="bg-stone-900 hover:bg-stone-700 hover:text-white hover:shadow-lg hover:shadow-stone-700/20 stroke-white rounded-lg shadow p-4"
            hx-put="/vote" hx-include="form#sort" hx-target="main" hx-swap="innerHTML transition:true" hx-vals='{"back":true}'>
            <span class="back-icon"></span>
        </button>
        {%- endif %}
        {% if tab.0 + 1 != tab.1 -%}
        <button class="bg-green-800 hover:bg-green-700 hover:text-white hover:shadow-lg hover:shadow-green-700/20 stroke-white rounded-lg shadow p-4 flex-grow"
            hx-put="/vote" hx-include="form#sort" hx-target="main" hx-swap="innerHTML transition:true">
            Következő
            <span class="fwd-icon"></span>
        </button>
        {%- else -%}
        <button class="bg-green-800 hover:bg-green-700 hover:text-white hover:shadow-lg hover:shadow-green-700/20 stroke-white rounded-lg shadow p-4 flex-grow"
            hx-post="/vote" hx-include="form#sort" hx-target="main" hx-swap="innerHTML transition:true">
            Leadás
            <span class="check-icon"></span>
        </button>
        {%- endif %}
    </div>

    <a href="/" hx-boost="true" class="hover:underline text-center w-full inline-block">Vissza a főoldalra</a>
</main>

{# vim: set ft=htmldjango: #}
