<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Kampány szavazás</title>

        {% block head %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.11/htmx.min.js" integrity="sha512-9KsixJxn00SQfLkrArzXRFi3QyqP4RyIzYgj2Ho4YJSLEOHS00uhDQdc7dv6N8PS5OsYZWKiY0/7DsZRlcv/DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        {% block content %}
        <p>hello world</p>
        {% endblock content %}
    </body>
</html>

{# vim: set ft=htmldjango: #}
